@using CHESTER.HioCloud.Models

<h3>Space Details</h3>

<RadzenRow>
    <RadzenColumn>
        <RadzenLabel Text="Name: " />
        <RadzenText Text="@Space.Name" />
    </RadzenColumn>
</RadzenRow>
<RadzenRow>
    <RadzenColumn>
        <RadzenLabel Text="Id: "/>
        <RadzenText Text="@Space.Id.ToString()" />
    </RadzenColumn>
</RadzenRow>

@code {
    [Parameter] public Space Space { get; set; } = new Space();
}
