@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Row Width="RowWidth.Full">
    <Column>
        First Column
    </Column>
    <Column>
        Second Column
    </Column>
    <Column>
        Third Column
    </Column>
</Row>
