@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Row Width="RowWidth.Full">
    <Column>
        First Column
    </Column>
    <Column>
        Second Column
    </Column>
    <Column>
        @text1
    </Column>
</Row>

<Row>
    <Column>
        <Button OnClick="ShowModal"></Button>
    </Column>
</Row>

<Modal IsVisible="@IsModalVisible" OnClose="CloseModal" Size="ModalSize.Large" 
       ShowOKButton="true" OnModalOK="OKModal" ShowCancelButton="true" OnModalCancel="CloseModal">

    <ModalTitle OnClose="CloseModal">Modal Title</ModalTitle>
    <ModalBody>
        <Row Width="RowWidth.Full">
            <Column>
                First Column
            </Column>
            <Column>
                <TextEdit @bind-Value="text"/>
            </Column>
            <Column>
                Third Column
            </Column>
        </Row>
    </ModalBody>
    <ModalFooter>Footer content</ModalFooter>

</Modal>

@code {
    private bool IsModalVisible = false;
    public string text { get; set; } = string.Empty;
    public string text1 { get; set; } = "Third Column";

    public void ShowModal()
    {
        IsModalVisible = true;
    }

    public void CloseModal()
    {
        IsModalVisible = false;
    }

    public void OKModal()
    {
        IsModalVisible = false;
        text1 = text;
    }
}