<div class="col @(GetColumnClass())" style="width: @(GetWidthPercentageStyle())">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public ColumnSize Size { get; set; } = ColumnSize.Md;
    [Parameter] public ColumnWidth CWidth { get; set; } = ColumnWidth.Auto;
    [Parameter] public ColumnWidthPercentage WidthPercentage { get; set; } = ColumnWidthPercentage.Auto;
    [Parameter] public string? CustomWidthPercentage { get; set; } // For custom width values, e.g., "75%"
    [Parameter] public string Class { get; set; } = string.Empty;

    private string GetColumnClass()
    {
        var classes = "";

        if (CWidth == ColumnWidth.Auto)
        {
            classes = $"col-{Size.ToString().ToLower()}";
            if (!string.IsNullOrWhiteSpace(Class))
            {
                classes += $" {Class}";
            }
            return classes;
        }
        else
        {
            classes = $"col-{Size.ToString().ToLower()}-{(int)CWidth}";
            if (!string.IsNullOrWhiteSpace(Class))
            {
                classes += $" {Class}";
            }
            return classes;
        }
    }

    private string GetWidthPercentageStyle()
    {
        return WidthPercentage switch
        {
            ColumnWidthPercentage.Full => "100%",
            ColumnWidthPercentage.Half => "50%",
            ColumnWidthPercentage.Quarter => "25%",
            ColumnWidthPercentage.Auto => "auto",
            ColumnWidthPercentage.Custom => CustomWidthPercentage ?? "auto",
            _ => "100%"
        };
    }
}